services:
  - type: web
    name: klear-ai
    runtime: node
    buildCommand: npm install && npx prisma generate && npx prisma db push --accept-data-loss && npx prisma db seed && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: GROQ_API_KEY
        sync: false
